.app {
  text-align: center;
  height: 100vh;
  background-image: url("./img/falz.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease-in-out;
  position: relative;
}

.fade-in {
  opacity: 2;
}

.disappear {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(18, 58, 69);
}

.album-title {
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 6rem;
  margin-bottom: 10px;
}

.release-date {
  font-size: 3rem;
  margin-bottom: 20px;
  color: rgb(255, 254, 254);
}

.social-media {
  margin-top: 40px;
}

.icon {
  margin: 0 15px;
  font-size: 2rem;
  color: white;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #ff4081;
}

@media (max-width: 600px) {
  .album-title {
    font-size: 3rem;
  }

  .release-date {
    font-size: 1.5rem;
  }

  .icon {
    font-size: 1.5rem;
    margin: 0 10px;
  }
}
